.navigation{
    background: lightblue;
    padding: 30px;
}

.navigation a{
    padding: 10px 40px;
    margin: 10px;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    background: #ffba7d
}
