.section-title{
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: darkgray;
}

.post{
    display: flex;
    border: 1px solid #2d2d2d;
    width: 500px;
    padding: 10px;
    box-shadow: 0 0 16px #2d2d2d;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.img-thumb-posts {
    width: 200px;
    height: 150px;
    margin-right: 20px;
}

.img-thumb-posts img{
    width: 200px;
    height: 150px;
    object-fit: cover;
}

.content{
    flex: 1;
}

.content p.title{
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-bottom: 16px;
}

.content p.title:hover{
    cursor: pointer;
    color: #282c34;
}

.content p.desc{
    margin: 0px;
    font-size: 16px;
    color: #2d2d2d;
}

.remove{
    padding: 12px 18px;
    background: #61dafb;
    color: #2d2d2d;
    border-radius: 4px;
    outline: none;
    margin-top: 18px;
}

.update{
    padding: 12px 18px;
    background: #282c34;
    color: #fff;
    border-radius: 4px;
    outline: none;
    margin-top: 18px;
}

.remove:hover{
    cursor: pointer;
}

.form-add-post{
    box-shadow: 0px 0px 16px #2d2d2d;
    width: 500px;
    margin-left: 20px;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 4px;
}

.form-add-post label{
    display: block;
    font-size: 14px;
    color: #282c34;
    font-width: bold;
    margin-bottom: 10px;
}

.form-add-post input, .form-add-post textarea {
    outline: none;
    border: 1px solid #2d2d2d;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
    color: darkgray;
}

button.btn-submit{
    outline: none;
    border: 1px solid #2d2d2d;
    padding: 10px 30px;
    border-radius: 4px;
    color: #2d2d2d;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;

}
